<div class="row">
	<div class="col-md-10">
	<div class="panel panel-success">
	<div class="panel-heading"><h3>{{event.title}} </h3>
		<br/>
		<i class="fa fa-calendar"> </i>  {{event.date}}
		<br/>
		<i class="fa fa-male"> </i> 
		{{#each event.presenters}}
			{{this.name}},
		{{/each}}
		
	</div>
	<div class="panel-body">
		<p class="text-muted">{{event.summary}}</p>
		
		<ul class="list-group">
			{{#each event.links}}
			<li class="list-group-item"> <i class="fa fa-link"></i>  <a href="{{this.url}}">{{this.name}}</a></li>
			{{/each}}
		</ul>
		<p>
			<form action="/register" method="post">
				<input type="hidden" name="eventId" value="{{event._id}}">
				<button class="btn btn-success" type="submit">Register</button>
			</form>
		</p>
	</div>
</div>
</div>
</div>