<h1>Events</h1>

<table class="table table-condensed table-stripped table-hover table-responsive">
	<thead>
		<tr>
			<th class="col-md-4">Title</th>
			<th>Presenter</th>
			<th>Date</th>
			<th> </th> 
		</tr>
	</thead>
	<tbody>
		{{#each events}}
		<tr>
			<td class="col-md-4">
				<h3>{{this.title}}</h3>
				<blockquote>
					<footer>{{this.summary}}</footer>
				</blockquote>
				
			</td>
			<td>
				{{#each this.presenters}}
					{{this.name}} <br/>
				{{/each}}
			</td>
			<td>{{this.date}}</td>
			<td> <a href="/register/{{this._id}}" class="btn btn-sm btn-success">Register</a> </td>
		</tr>
		{{/each}}
	</tbody>
	
</table>
